* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  background-color: #e6e6e6;
  font-family: 'Fira Sans', sans-serif;
}

#header-content {
  background-color: #f7b600;
  text-align: center;
  padding: 12px;
}

.center {
  display:flex;
  justify-content: center;
  /* align-items: center; */
}

#header-content h1 {
  color: #4e4e4e;
  font-size: 2.5em;
  padding: 12px;
}

#header-content strong {
  color: #fff;
}


#header-lists ul {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#header-lists a {
  padding: 12px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#header-lists a:hover {
  color: #f7b600;
  background-color: #fff;
}

#post-area {
  width: 60%;
}

.post {
  width: 640px;
  margin: 20px 0;
  background-color: white;
  padding: 20px;
}

.post-title {
  padding-bottom: 15px;
}

.post-title h2 {
  color: #f7b600;
}

.post-title p {
  font-size: 0.8em;
}

.post-content p {
  padding-top: 15px;
}

.links {
  color: #f7b600;
  text-decoration: none;
}

.post strong {
  display: inline-flex;
  padding-top: 6px;
}

.links:hover {
  text-decoration: underline;
}

#aside-content {
  width: 25%;
  background-color: white;
  margin: 20px 0;
  height: 430px;
}

.aside-body-content {
  padding: 20px;
  border-bottom: 20px #e6e6e6 solid;
  font-size: 0.8em;
}

.aside-body-content strong {
  display: flex;
  padding-top: 6px;
}

.aside-title {
  color: #565656;
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.aside-lists li {
  list-style: none;
  font-weight: 600;
  padding-top: 3px;
}










/* h1 {
  color: #4e4e4e;
  font-size: 2.5em;
  padding: 12px;
}

#word-blog {
  color: #fff;
}

#header-lists {
  padding: 12px;
}

#header-lists li {
  display: inline-block;
} 

#header-lists a {
  text-decoration: none;
  padding: 12px 8px;
  font-weight: 900;
  color: #fff;
} */

/* #header-lists a:hover {
  background-color: #fff;
  color: #f7b600;
}

#post-area {
  width: 60%;
  display: inline-block;
}

.post {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  background-color: white;
  width: 640px;
  padding: 20px;
  margin-bottom: 20px;
} */

/* main {
  display:flex;
  justify-content: center;
  align-items: center;
}

.post h2,p {
  align-self: flex-start;
}

.post img {
  margin: 10px 0;
} */

/* #aside-content {
  width: 25%;
  display: inline-block;
  vertical-align: top; 
  font-size: 0.9em;
} */

/* .aside-body-content {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}

.aside-title-style {
  background-color: #CCC;
  color: #565656;
  padding: 5px;
  margin-bottom: 2px;
} */

/* .aside-lists ul {
  list-style: none;
  font-weight: 600
}

.links {
  color: #f7b600;
  text-decoration: none;
}

#post-area a:hover {
  text-decoration: underline;
}

#aside-content a:hover {
  text-decoration: underline;
} */