* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  background-color: #e6e6e6;
  font-family: 'Fira Sans', sans-serif;
}

#header-content {
  background-color: #f7b600;
  text-align: center;
  padding: 12px;
}

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
  padding: 12px;
}

#word-blog {
  color: #fff;
}

#header-lists {
  padding: 12px;
}

#header-lists li {
  display: inline-block;
} 

#header-lists a {
  text-decoration: none;
  padding: 12px 8px;
  font-weight: 900;
  color: #fff;
}

#header-lists a:hover {
  background-color: #fff;
  color: #f7b600;
}

#main-content {

}

#post-area {
  width: 60%;
  display: inline-block;
}

.post {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  background-color: white;
  width: 640px;
  padding: 20px;
  margin-bottom: 20px;
}

#recent-posts-area {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}